SHELL=/bin/bash                                                                                                                                      
PATH=/sbin:/bin:/usr/sbin:/usr/bin                                                                                                                   
MAILTO=ken                                                                                                                                           
HOME=/home/ken                                                                                                                                       
                                                                                                                                                     
0 0 * * * $HOME/src/gnome-live/dev-kit/build-system/cron.sh 
